
/*homepage styling*/

*{
    font-family: "Trebuchet MS";
}

.mainlogopic{
    width: 400px;
}

.logobreak{
    border: 3px solid black;
    width: 780px;
}

h1{
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
}

.p1{
    background-color: yellow;
    width: 160px;
    font-weight: bold;
}

.p3{
    background-color: yellow;
    width: 90px;
    font-weight: bold;
}

h2{
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
}

.slogan{
    font-size: 40px;
    font-weight: lighter;
}

.gallerypic {
    border: 5px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 285px;
}

h3{
    text-align: center;
    font-size: 26px;
    font-weight: lighter;
    text-decoration: underline; 
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: left;
}

h4{
    text-align: center;
    font-size: 26px;
    font-weight: lighter;
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: left;
}

/*details styling*/

.itempic{
    border: 5px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
}

.itemdesc{
    font-size: 30px;
    width: 380px;
    font-weight: lighter;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#glazedropdown, #packdropdown{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 380px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 30px;
    font-weight: lighter;
    border: 5px solid black;
    border-radius: 0px;
}

#itemprice{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: -42px;
}

.cartbutton{
    margin-top:-60px;
    margin-left: 30px;
    font-weight: bold;
    font-size: 30px;    
    width: 250px;
    height: 70px;
    border: 5px solid black;
    border-radius: 0px;
    background-color: yellow;
}

/*cart styling*/

.cartPic {
    border: 5px solid black;
    display: block;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 150px
}

.remove{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.templateRollName, .templatePackSize, .templateGlazing{
    text-align: left;
    font-size: 27px;
    font-weight: lighter;
}

.templateItemPrice{
    text-align: left;
    font-size: 32px;
    font-weight: lighter;
}

.checkoutbreak{
 
    width: 785px;
    border: 3px solid black;
    margin-left: 430px;
}

.cartTotal{
    text-align: left;
    font-size: 32px;
    font-weight: lighter;
}

.cartTotalAmount{
    text-align: left;
    font-size: 32px;
    font-weight: lighter;
}

.checkout{
    display: block;
    margin-left: 900px;
    font-weight: bold;
    font-size: 27px;
    margin-top:12px;
    width: 250px;
    height: 70px;
    border: 5px solid black;
    border-radius: 0px;
    background-color: yellow;
}

a{
    text-decoration: none;
    color: black;
}

/*flexbox stuff*/

.gallerybox{
    display: flex;
    box-sizing: border-box;
    height: auto;
    width: 310px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 10px;
    justify-content: center;
}

.gallerybox:hover{
    background-color: yellow;
    cursor: pointer;
}

.gallerybox:hover h3 {
    font-weight: bold;
}

.addtocart{
    display: flex;
    box-sizing: border-box;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    padding-left: 70px;
}

/*HW2 flexbox stuff*/



/*logo and navi*/

.box1{
    display: flex;
    box-sizing: border-box;
    margin-bottom: 20px;

}

.box2R{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.box2L{
    display: flex;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left:20px;
}

.box3_1{
    display: flex;
    box-sizing: border-box;
    margin-left: 350px;
    margin-top: 30px;
    align-items: center;
}

.box3_2{
    display: flex;
    box-sizing: border-box;
    width: 780px;
    margin-left: 20px;
}

.box3_3{
    display: flex;
    box-sizing: border-box;
    margin-left: 20px;
    margin-top: 20px;


}

.box4_1{
    display: flex;
    box-sizing: border-box;


}

.box4_2{
    display: flex;
    box-sizing: border-box;
    margin-left: 120px;
}

/*page 1 gallery*/

.gridbox1{
    display: flex;
    box-sizing: border-box;
    width:1100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -50px;
}

.gridbox2{

    display: flex;
    box-sizing: border-box;
    width:1100px;
    margin-left: auto;
    margin-right: auto;
}

/*page 2*/

.p2box1{
    display: flex;
    box-sizing: border-box;


}

.p2box2L{
    display: flex;
    box-sizing: border-box;
    margin-left: 60px;
}

.p2box2R{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin-bottom: 60px;
}

/*page 3*/

.p3boxa{
    display: flex;
    box-sizing: border-box;
    margin-top: 50px;
    margin-left: 440px;
}

.p3boxb{
    display: flex;
    box-sizing: border-box;
    margin-left: 440px;
}

.p3box2a{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin-top: -75px;
    margin-right: 30px;
}

.p3box2b{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin-top: -75px;
    margin-right: 30px;
}

.priceboxa{
    display: flex;
    box-sizing: border-box;
    margin-left: 160px;
    margin-top: 40px;
}

.priceboxb{
    display: flex;
    box-sizing: border-box;
    margin-left: 30px;
    margin-top: 40px;

}

.totalbox{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    width: 525px;
    margin-left: 630px;
}
